.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

data
train
games
models
test_models
__pycache__
tmp
dev_code
D_train.lnk
.plan.txt
*.lprof
_test_script.py