.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

data
data_gating
train
games
models
test_models
__pycache__
tmp
dev_code
prof
D_train.lnk
.plan.txt
*.lprof
_test_script.py
logs
*tmp.py
*.pyd
*.so
cpp/build
.config.ini
compile_model.py
mingshiyang
train_transfer.ipynb
train_main_transfer.py
*_test.py